@{

Layout = "_Layout";

}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Search Restaurants</h1>
        </div>
        <h3><a href="/search/cuisine">SEARCH BY CUISINE</a></h3>
        <br>
        <h3><a href="/restaurant">SEARCH BY RESTAURANT</a></h3>
        
    </div>
</div>