@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Resturant Finder</h1>
            <p>Find great eats in your area!</p>
        </div>
        <h3>What would you like to do?</h3>
        <a href="/restaurants/new" type="button" class="btn btn-info">Add New Restuarant</a>
        <a href="/tasks" type="button" class="btn btn-info">View Current Restaurants</a>
        <a href="/tasks" type="button" class="btn btn-info">Search Restaurants</a>
    </div>
</div>