@{

Layout = "_Layout";

}

<div class="row">
    <div class="column">
    <form action='/add_restaurant'>
      <div class='form-group'>
        <label for='restaurant'>Restaurant</label>
        <input id='restaurant' name='restaurant' class='form-control' type='text'>
      </div>
       <button type='submit' class='btn btn-info'>Add!</button>
    </form> 
    </div>   
</div>