@{

Layout = "_Layout";

}

<form action="/click_cuisine" method="post">
<button class="btn btn-primary" type="submit">
    Dropdown button
  </button>
<select name="selection">
    @foreach (var option in Model)
    {
       <option value="@option.GetId()">@option.Name</option>
    }
</select>

</form>